/* navigation */

#navbar{

    flex-direction: column;
}
#logo img {
    margin: 1px 1px;
    height: 65px;
}
#navbar ul li a {
    
    padding: 5px 15px;
}
/* home */
#home1{
    padding: 0px 0px;
}

#home1 .heading-p{

  
font-size: 1.5rem;


}
#home1 p {
    text-align: center;
    /* color: white; */
    font-size: 1rem;
}

.btn {
    padding: 1px 9px;
    border: 2px solid blue;
    margin: 12px;
    background-color: darkslateblue;
    font-size: 0.8rem;
    border-radius: 13px;
    cursor: pointer;
}
/* services */

#services{
    display:flex;
    flex-direction: column;
 
}
#services .serv img {
    display: block;
    width: 200px;
    height: 140px;
    margin: auto;
}


#clients .heading-p{
    font-size: 1.4rem;
}
#clients #local .loc {
    padding: 2px 2px;
}
#clients #local {

    flex-direction: column;
}
#clients h1 {
    padding: 29px 2px;
}

.loc img {
    width: 169px;
    height: 66px;
}






/* client */
/* contact */
#contact {
    position: relative;
    height: 153px;
}

#contact #contactbox {
    
    padding: 30px 0px;
    
}

#contactbox p{
    font-size: 1rem;
}
  
/* footer  */